#welcome-section {
    margin-top: em;
    height: 100vh;
    width: 100%;
    display: flex;
}

#sidebar {
   
    flex-basis: 5em;
    background-image: linear-gradient(to top right, #ffffd4, white);
}

#sidebar div {
    
    border: 1px solid yellow;
    height: 1em; 
    width: 1em; 
    animation-name: animatebox;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes animatebox {
    0%   {}
    50%  {transform: translate(4em, 0)}
    100% {transform: translate(0, 0)}
  }


#delay-2 {
    animation-delay: 2s;
}

#delay-4 {
    animation-delay: 4s;
}



#sidebar div:hover {
    transform: scale(4);
}

#welcome-area{
    z-index:1 ;
    flex-grow: 1;
    background-image: linear-gradient(to bottom right, white, #ADD8E6);
}

/* Style my name */
#welcome-area h1{
    margin-top: 3em;
    margin-left: 1em;
}

/* Style my description */
#welcome-area h2{
    margin-top: 4em;
    margin-left: 3em;
    margin-right: 1em;
}

/* The animation code for my name */
@keyframes animatename {
    0%   {color: red; font-family: "Monospace"}
    25%  {color: yellow; font-family: "Verdana"}
    50%  {color: blue; font-family: "Cursive"}
    75%  {color: green; font-family: "Comic Sans MS" }
    100% {color: pink;  font-family: "Fantasy"}
  }
  

#welcome-area h1:hover{
    position: relative;
    animation-name: animatename;
    animation-duration: 10s;
}

#projects {
    background-color: #ADD8E6;
    padding: 10em;
    z-index: 3;
}

#info {
    padding: 10em;
    background-color: grey;
}


#navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index:100; /* To keep navbar at the top of the webpage */
}

/* Links inside the navbar */
#navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    font-size: 1.5em;
    text-decoration: none;
  }

/* Use the Helvetica font for h1 and h2 tags*/
h1 {
    font-family: 'Helvetica';
}

h2 {
    font-family: 'Helvetica';
}


.project-tile {
    background-color: white;
    height: 30em;
    border: solid;
    padding: 4em;
    border-width: 1em;
    border-radius: 5%;
    text-align: center;
}

.project-tile a {
    color: black;
    font-size: 2em;
    font-family: 'Helvetica';
    display: inline-block;  
    
}

#profile-link {
    font-size: 2em;
    padding: 1em;
    border-radius: 10%;
    height: 8em;
    width: 8em;
    border: 0.1em solid black;
    background-color: #d3d3d3;
}

#profile-link img {
    position: relative;
    max-width: 100%;
}

  /* If the screen size is 601px or more */
@media only screen and (min-width: 601px) {
    h1 {
        font-size: 5em;
    }
    h2 {
        font-size: 2em;
    }
  }
  
  /* If the screen size is 600px or less */
  @media only screen and (max-width: 600px) {
    #welcome-area {
        background-image: linear-gradient(to bottom right, white, #ADD8E6);
       
    }

    /* Style my name */
    #welcome-area h1{
        margin-top: 4em;
        margin-left: 2em;
    }

    /* Style my description */
    #welcome-area h2{
        margin-top: 5em;
        margin-left: 3em;
        font-size:2em;
        margin-right: 1em;
    }

    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 1em;
    }

    #projects {
        padding: 1em;
    }

    .project-tile {
        padding: 1em;
    }

    .project-tile a {
        font-size: 1em;
    }

    #profile-link {
        font-size: 2em;
        padding: 1em;
        border-radius: 10%;
        height: 4em;
        width: 4em;
        border: 0.1em solid black;
    }
    
    #profile-link img {
        position: relative;
        max-width: 100%;
    }



  }


