<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

         <!-- Latest compiled and minified CSS -->
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css'>

        <link rel='stylesheet' href='css/main.css'> 
        <!-- jQuery library -->
        <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>

        <!-- Latest compiled JavaScript -->
        <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js'></script> 
        <!-- Vue library -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

        <script src='script/main.js'></script>
        
        <title>Winnie's Portfolio</title>
        <nav id='navbar'>
            <!-- Add links to different section of webpage.-->
            <a href="#welcome-section">About</a>
            <a href="#projects">Projects</a>
            <a href="#info">Links</a>
        </nav>
    </head>
    <body>
        <div id='welcome-section' class='d-flex flex-row'> 
                <div id='sidebar' class='d-flex'>
                    <div></div>
                    <div id='delay-2'></div>
                    <div id='delay-4'></div>
                    <div id='delay-4'></div>
                    <div id='delay-2'></div>
                    <div></div>
                    <div></div>
                    <div id='delay-2'></div>
                    <div id='delay-4'></div>
                    <div id='delay-4'></div>
                    <div id='delay-2'></div>
                    <div></div>
                    <div></div>
                    <div id='delay-2'></div>
                    <div id='delay-4'></div>
                    <div id='delay-4'></div>
                    <div id='delay-2'></div>
                    <div></div>
                    <div></div>
                    <div id='delay-2'></div>
                    <div id='delay-4'></div>
                    <div id='delay-4'></div>
                    <div id='delay-2'></div>
                    <div></div>
                    <div></div>
                    <div id='delay-2'></div>
                    <div id='delay-4'></div>
                    <div id='delay-4'></div>
                    <div id='delay-2'></div>
                    <div></div>
                    <div></div>
                    <div id='delay-2'></div>
                    <div id='delay-4'></div>
                    <div id='delay-4'></div>
                    <div id='delay-2'></div>
                    <div></div>
                    <div></div>
                    <div id='delay-2'></div>
                    <div id='delay-4'></div>
                    <div id='delay-4'></div>
                    <div id='delay-2'></div>
                    <div></div>
                    <div></div>
                    <div id='delay-2'></div>
                    <div id='delay-4'></div>
                    <div id='delay-4'></div>
                    <div id='delay-2'></div>
                    <div></div>
                    <div></div>
                    <div id='delay-2'></div>
                    <div id='delay-4'></div>
                    <div id='delay-4'></div>
                    <div id='delay-2'></div>
                </div>
                <div id='welcome-area'>  
                    <h1>Winnie Lam</h1>
                    <div id='welcome-message'> 
                        I design, build, and <span id='trigger-hidden-text' onclick='triggerDelayText()'>test</span> software.
                        <div id='show-text-one-line'>
                            <div id='show-text' style='visibility:hidden'>And </div>
                            <div id=delayed-text-1 style='visibility:hidden'> &nbsp;I </div>
                            <div id=delayed-text-2 style='visibility:hidden'> &nbsp;am </div>
                            <div id=delayed-text-3 style='visibility:hidden'> &nbsp;highly </div>
                            <div id=delayed-text-4 style='visibility:hidden'> &nbsp;skilled </div>
                            <div id=delayed-text-5 style='visibility:hidden'> &nbsp;in </div>
                            <div id=delayed-text-6 style='visibility:hidden'> &nbsp;. </div>
                            <div id=delayed-text-7 style='visibility:hidden'>  &nbsp;. </div>
                            <div id=delayed-text-8 style='visibility:hidden'>  &nbsp;. </div>
                         </div>
                        <div id='delayed-text-9' style='visibility:hidden'> BREAKING SOFTWARE! </div>
                    </div>
                </div>
        </div>
        <div id='projects'>
            <h1>Projects</h1>
            <div id='projects-table' class='d-flex'>
                <div class='project-tile' id='project-mylibrary'>
                    <h2>{{ name }}</h2>
                    <p> {{ description }}</p>
                    <a id='project-mylibrary-link' href='https://wwyl1234.github.io/my-library/' target='_blank' class='btn btn-info'>
                        App
                    </a>
                    <a href='https://github.com/wwyl1234/my-library' target='_blank' class='btn btn-warning'>
                        Code
                    </a>
                    <ul>
                        <li v-for="item in techs" >
                            {{ item }}
                        </li>
                    </ul>
                </div>
                <div class='project-tile' id='project-blog'>
                    <h2>{{ name }}</h2>
                    <p> {{ description }}</p>
                    <a id='project-blog-link' href='https://software-kiss.herokuapp.com/' target='_blank' class='btn btn-info'>
                        App
                    </a>
                    <a href='https://github.com/wwyl1234/software-kiss' target='_blank' class='btn btn-warning'>
                        Code
                    </a>
                    <ul>
                        <li v-for="item in techs" >
                            {{ item }}
                        </li>
                    </ul>
                </div>
        
                <div class='project-tile' id='project-technical-documentation-page'>
                    <h2>{{ name }}</h2>
                    <p> {{ description }}</p>
                    <a id='project-technical-documentation-page-link' href='https://wwyl1234.github.io/technical-documentation-page/' target='_blank' class='btn btn-info'>
                        App
                    </a>
                    <a href='https://github.com/wwyl1234/technical-documentation-page' target='_blank' class='btn btn-warning'>
                        Code
                    </a>
                    <ul>
                        <li v-for="item in techs" >
                            {{ item }}
                        </li>
                    </ul>
                </div>
                <div class='project-tile' id='project-random-quote-machine' >
                    <h2>{{ name }}</h2>
                    <p> {{ description }}</p>
                    <a id='project-random-quote-machine-link' href='https://wwyl1234.github.io/random-quote-machine/' target='_blank' class='btn btn-info'>
                        App
                    </a>
                    <a href='https://github.com/wwyl1234/random-quote-machine' target='_blank' class='btn btn-warning'>
                        Code
                    </a>
                    <ul>
                        <li v-for="item in techs" >
                            {{ item }}
                        </li>
                    </ul>
                    
                </div>
                <div class='project-tile' id='project-markdown-previewer'>
                    <h2>{{ name }}</h2>
                    <p> {{ description }}</p>
                    <a id='project-markdown-previewer-link' href='https://wwyl1234.github.io/markdown-previewer/' target='_blank' class='btn btn-info'>
                        App
                    </a>
                    <a href='https://github.com/wwyl1234/markdown-previewer' target='_blank' class='btn btn-warning'>
                        Code
                    </a>
                    <ul>
                        <li v-for="item in techs" >
                            {{ item }}
                        </li>
                    </ul>
                    
                </div>
                <div class='project-tile' id='project-debris'>
                    <h2>{{ name }}</h2>
                    <p> {{ description }}</p>
                    <a id='project-debris-link' href='https://wwyl1234.github.io/scifi-outerspace/' target='_blank' class='btn btn-info'>
                        App
                    </a>
                    <a href='https://github.com/wwyl1234/scifi-outerspace' target='_blank' class='btn btn-warning'>
                        Code
                    </a>
                    <ul>
                        <li v-for="item in techs" >
                            {{ item }}
                        </li>
                    </ul>
                </div>
                <div class='project-tile' id='project-portfolio-webpage'>
                    <h2>{{ name }}</h2>
                    <p> {{ description }}</p>
                    <a id='project--portfolio-webpage-link' href='https://wwyl1234.github.io/portfolio-webpage/' target='_blank' class='btn btn-info'>
                        App
                    </a>
                    <a href='https://github.com/wwyl1234/portfolio-webpage' target='_blank' class='btn btn-warning'>
                        Code
                    </a>
                    <ul>
                        <li v-for="item in techs" >
                            {{ item }}
                        </li>
                    </ul>
                </div>


            </div>
        </div>
        <div id='info'>
            <div id='links-table' class='d-flex'>
            <a id='profile-link' href='https://github.com/wwyl1234' target='_blank'><img src='image/GitHub_Logo.png'></img></a>
            </div>
        </div>
    </body>
</html>